<div class="container flex items-center justify-center h-screen">

  <div class="card bg-blue-50 p-6 shadow-xl">
    <h2 class="mb-6 text-2xl">わんこ編集</h2>
    <%= form_with model: @pet, url: update_pet_path(@pet), data: { turbo_method: :put }, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: @pet %>

      <div class="form-control w-full max-w-xs mb-4">
        <label class="label">
          <span class="label-text">お名前</span>
          <span class="label-text-alt">必須</span>
        </label>
        <%= f.text_field :name, autofocus: true, placeholder:"pochi",class:"input input-bordered w-full max-w-xs"%>
      </div>

      <div class="form-control w-full max-w-xs mb-4">
        <label class="label">
          <span class="label-text">犬種</span>
          <span class="label-text-alt">必須</span>
        </label>
        <%= f.text_field :breed, autofocus: true, placeholder:"柴犬",class:"input input-bordered w-full max-w-xs"%>
      </div>

      <div class="form-control w-full max-w-xs mb-4">
        <label class="label">
          <span class="label-text">サイズ</span>
          <span class="label-text-alt">必須</span>
        </label>
        <div class="flex">
          <%= f.collection_radio_buttons(:size_id, Size.all, :id, :name, { class:"radio radio-secondary" })%><br />
        </div>
      </div>

      <div class="form-control w-full max-w-xs mb-4">
        <label class="label">
          <span class="label-text">誕生日</span>
          <span class="label-text-alt">必須</span>
        </label>
        <%= f.date_field :birthday, autofocus: true,class:"input input-bordered w-full max-w-xs"%>
      </div>

      <div class="actions mt-4">
        <%= f.submit "Sign up", class:"btn btn-accent" %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>