<h2>わんこ登録</h2>

  <%= form_with model:@pet, class:"pet_info", local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: @pet %>

  <div data-controller="add-form">
    <div class="field" data-add-form-target="name">
      <%= f.label :name %><br />
      <%= f.text_field :name %><br />
    </div>

    <div class="field" data-add-form-target="breed">
      <%= f.label :breed %><br />
      <%= f.text_field :breed %><br />
    </div>

    <div class="field" data-add-form-target="size">
      <%= f.label :size_id %><br />
      <%= f.collection_radio_buttons(:size_id, Size.all, :id, :name) %><br />
    </div>

    <div class="field" data-add-form-target="birthday">
      <%= f.label :birthday %><br />
      <%= f.date_field :birthday %><br />
    </div>


    <div data-add-form-target ="output"></div>
    <%#= link_to "Add", "javascript:void(0)", data: { action: "click->add-form#addForm" } %>
  </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

  <% end %>

<%= render "devise/shared/links" %>