<div class="mt-16 p-4">
  <div class="mb-4 text-center opacity-90">
    <%= image_tag 'dog-icon.png', alt:"profile-img", class:"mx-auto object-cover rounded-full h-40 w-40 "%>
  </div>
  <div class="text-center">
    <p class="text-2xl text-gray-800 dark:text-white">
      <%= current_user.nickname %>
    </p>
    <p class="text-xl font-light text-gray-500 dark:text-gray-200">
      Your Dog: <%= current_user.pet.name %>
    </p>
    <div>
      <%= link_to(edit_user_registration_path, class:"rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-2 hover:bg-blue-500 hover:text-gray-100") do%>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
        </svg>
      <% end %>
      <%= link_to(unsubscribe_path(current_user), class:"rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-2 hover:bg-blue-500 hover:text-gray-100") do%>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />   
        </svg>
      <% end %>
    </div>
  </div>

  <!-- 日程のコンテンツ -->
  <% if @user.plans.present? %>
    <div class="flex justify-center items-center">
      <div class="w-1/2 px-5 py-24 mx-auto">
        <div data-controller="tab" data-tab-default-tab-value="1">

          <!-- タブ名-->
          <ul class="tab-list tabs tabs-boxed">
            <li class="tab" data-tab-target="tab" data-action="click->tab#click" id="1">My Plan</li>
            <li class="tab" data-tab-target="tab" data-action="click->tab#click" id="2">お気に入りPlan</li>
            <li class="tab" data-tab-target="tab" data-action="click->tab#click" id="3">お気に入り宿</li>
          </ul>
          <!-- タブ名-->

          <!-- タブのコンテンツ-->
          <ul data-tab-target="card" id="1">
            <% @user.plans.each do |plan| %>
              <li class="mt-4">
                <div class="p-4 mb-4 w-full border border-solid border-gray-200 rounded-xl indicator">
                  <div class="flex flex-col">
                    <%= plan.title %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>

          <ul data-tab-target="card" id="2">
            <% @user.plan_likes.each do |plan| %>
              <li class="mt-4">
                <div class="p-4 mb-4 w-full border border-solid border-gray-200 rounded-xl indicator">
                  <div class="flex flex-col">
                    <%= Plan.find(plan.plan_id).title %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>

          <ul data-tab-target="card" id="3">
            <% @hotel_list.each do |hotel| %>
              <li class="mt-4">
                <div class="p-4 mb-4 w-full border border-solid border-gray-200 rounded-xl indicator">
                  <div class="flex flex-col">
                    <%= hotel["hotelBasicInfo"]["hotelName"] %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <!-- タブのコンテンツ-->

        </div>
      </div>
    </div>
  <% end %>
</div>
