<div class="mt-16 p-4">
  <div class="mb-4 text-center opacity-90">
    <%= image_tag 'dog-icon.png', alt:"profile-img", class:"mx-auto object-cover rounded-full h-40 w-40 "%>
  </div>
  <div class="text-center">
    <p class="text-2xl text-gray-800 dark:text-white">
      <%= @user.nickname %>
    </p>
    <p class="text-xl font-light text-gray-500 dark:text-gray-200">
      Dog'name: 
      <% @user.pets.each do |pet| %>
        <%= pet.name %>
      <% end %>
    </p>
    <% if current_user == @user %>
      <div>
        <%= link_to(unsubscribe_path(current_user), id:"unsubscribe-btn", class:"rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-2 hover:bg-blue-500 hover:text-gray-100") do%>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 10.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
          </svg>
        <% end %>
        <%= link_to(edit_user_registration_path, id:"user-edit-btn",class:"rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-2 hover:bg-blue-500 hover:text-gray-100") do%>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
          </svg>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- 日程のコンテンツ -->
  <div class="flex justify-center items-center">
    <div class="w-full lg:w-1/2 px-5 py-24 mx-auto">
      <div data-controller="tab" data-tab-default-tab-value="1">

        <!-- タブ名-->
        <ul role="tablist" class="tabs tabs-boxed">
          <li role="tab" class="tab w-1/3" data-tab-target="tab" data-action="click->tab#click" id="1">
            <!-- SPバージョン（スマートフォン版） -->
            <span class="block sm:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            </span>
            <!-- デスクトップ版-->
            <span class="hidden sm:block">
              My Plan
            </span>
          </li>
          <li role="tab" class="tab w-1/3" data-tab-target="tab" data-action="click->tab#click" id="2">
            <span class="block sm:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
              </svg>
            </span>
            <span class="hidden sm:block">
              お気に入りPlan
            </span>
          </li>
          <li role="tab" class="tab w-1/3" data-tab-target="tab" data-action="click->tab#click" id="3">
            <span class="block sm:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
              </svg>
            </span>
            <span class="hidden sm:block">
              お気に入り宿
            </span>
          </li>
        </ul>

        <!-- タブ名-->
          <!-- タブのコンテンツ-->
          <section class="bg-neutral-100">
            <ul data-tab-target="card" id="1">
              <% if @user.plans.present?%>
                <% @user.plans.each do |plan| %>
                  <div class="space-y-8 lg:divide-y lg:divide-gray-100">
                    <div class="mt-6 sm:flex lg:items-center group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <%= image_tag plan.cover_image, class:"w-full rounded-md h-32 lg:w-32 object-cover"%>
                      </div>
                      <div>
                        <span class="text-sm text-gray-500"><%= l plan.departure_date, format: :short%>-<%= l plan.return_date, format: :short %></span>
                          <p class="mt-0 sm:mt-3 text-lg font-medium leading-6">
                            <%= link_to plan.title, plan_path(plan), class:"text-xl text-gray-800 group-hover:text-gray-500 lg:text-2xl"%>
                          </p>
                        <div class="mt-2 text-base text-gray-500 flex items-center">
                          <span><%= Prefecture.find(plan.departure_id).name %></span>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                          <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                          <path fill-rule="evenodd" d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                          </svg>
                          <span><%= Prefecture.find(plan.destination_id).name %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="space-y-8 lg:divide-y lg:divide-gray-100">
                  <div class="mt-6 sm:flex lg:items-center group">
                    <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                      <%= image_tag 'no_registration.png', class:"w-full rounded-md h-32 lg:w-32 object-cover"%>
                    </div>
                    <div>
                      <span class="text-sm text-gray-500">still no registrations.</span>
                      <p class="mt-3 text-lg font-medium leading-6">
                          投稿した旅行日程はありません。
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            </ul>
          </section>

          <section class="bg-neutral-100">
            <ul data-tab-target="card" id="2">
              <% if @user.plan_likes.present? %>
                <% @user.plan_likes.each do |plan| %>
                  <div class="space-y-8 lg:divide-y lg:divide-gray-100">
                    <div class="mt-6 sm:flex lg:items-center group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <%= image_tag Plan.find(plan.plan_id).cover_image, class:"w-full rounded-md h-32 lg:w-32 object-cover"%>
                      </div>
                      <div>
                        <span class="text-sm text-gray-500"><%= l Plan.find(plan.plan_id).departure_date, format: :short%>-<%= l Plan.find(plan.plan_id).return_date, format: :short %></span>
                        <p class="mt-3 text-lg font-medium leading-6">
                          <%= link_to Plan.find(plan.plan_id).title, plan_path(plan.plan_id), class:"text-xl text-gray-800 group-hover:text-gray-500 lg:text-2xl"%>
                        </p>
                        <div class="mt-2 text-base text-gray-500 flex items-center">
                          <span><%= Prefecture.find(Plan.find(plan.plan_id).departure_id).name %></span>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                          <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                          <path fill-rule="evenodd" d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                          </svg>
                          <span><%= Prefecture.find(Plan.find(plan.plan_id).destination_id).name %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="space-y-8 lg:divide-y lg:divide-gray-100">
                  <div class="mt-6 sm:flex lg:items-center group">
                    <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                      <%= image_tag 'no_registration.png', class:"w-full rounded-md h-32 lg:w-32 object-cover"%>
                    </div>
                    <div>
                      <span class="text-sm text-gray-500">still no no_registrations.</span>
                      <p class="mt-3 text-lg font-medium leading-6">
                        お気に入り登録された日程はありません
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            </ul>
          </section>

          <section class="bg-neutral-100">
            <ul data-tab-target="card" id="3">
              <% if @user.hotel_likes.present? %>
                <% @hotel_list.each do |hotel| %>
                  <div class="space-y-8 lg:divide-y lg:divide-gray-100">
                    <div class="pt-8 sm:flex lg:items-center group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <%= image_tag hotel["hotelBasicInfo"]["hotelImageUrl"], class:"w-full rounded-md h-32 lg:w-32 object-cover"%>
                      </div>
                      <div id="hotel-info">
                        <span class="text-sm text-gray-500"><%= hotel["hotelBasicInfo"]["hotelKanaName"] %></span>
                        <p class="mt-3 text-lg font-medium leading-6">
                          <%= link_to hotel["hotelBasicInfo"]["hotelName"], hotel_path(hotel["hotelBasicInfo"]["hotelNo"]), class:"text-xl text-gray-800 group-hover:text-gray-500 lg:text-2xl"%>
                        </p>
                        <div class="mt-2 text-base text-gray-500 flex items-center">
                          <span><%= hotel["hotelBasicInfo"]["address1"] + hotel["hotelBasicInfo"]["address2"]%></span>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="space-y-8 lg:divide-y lg:divide-gray-100">
                  <div class="mt-6 sm:flex lg:items-center group">
                    <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                      <%= image_tag 'no_registration.png', class:"w-full rounded-md h-32 lg:w-32 object-cover"%>
                    </div>
                    <div>
                      <span class="text-sm text-gray-500">still no no_registrations.</span>
                      <p class="mt-3 text-lg font-medium leading-6">
                        お気に入り登録された宿はありません
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            </ul>
          </section>
        <!-- タブのコンテンツ-->
      </div>
    </div>
  </div>
</div>