<% include_gon %>
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="hotel_image" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="<%= @hotel_info["hotelImageUrl"] %>">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest"><%= @hotel_info["hotelKanaName"]%></h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1"><%= @hotel_info["hotelName"] %></h1>
        <div class="flex mb-4">
          <span class="flex items-center">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-yellow-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <span class="text-gray-600 ml-3"><%= @hotel_info["reviewAverage"]%></span>
          </span>
          <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200 space-x-2s"><%= @hotel_info["reviewCount"]%>レビュー</span>
        </div>

        <p class="leading-relaxed mb-4"><%= @hotel_info["hotelSpecial"]%></p>
        
        <span class="title-font font-medium text-2xl text-gray-900">最安値 ¥<%= @hotel_info["hotelMinCharge"]%>/人</span>
        <div class="flex justify-end">
          <% if user_signed_in? %>
            <!--いいねボタン-->
              <%= render partial: 'like', locals: {hotel_num: @hotel_num, hotel_record: @hotel_record} %>
            <!-- いいねボタン-->
          <% end %>
          <button class="flex ml-4 text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <%= link_to 'もっと見る', @hotel_info["hotelInformationUrl"], target: :_blank, rel: "noopener noreferrer" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<!--  レビューエリア -->
<section>
  <div class="container px-5 py-24 mx-auto text-center">
    <h2>カスタマーレビュー</h2>
    <div class="stats shadow lg:w-4/5">
      <div class="stat">
        <div class="stat-title">サービス全体</div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <div class="stat-value"><%= number_with_precision(@hotel_rating["serviceAverage"], precision: 2)%></div>
          </div>
          
      </div>

      <div class="stat">
        <div class="stat-title">立地</div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <div class="stat-value"><%= number_with_precision(@hotel_rating["locationAverage"], precision: 2)%></div>
          </div>
      </div>

      <div class="stat">
        <div class="stat-title">部屋</div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <div class="stat-value"><%= number_with_precision(@hotel_rating["roomAverage"], precision: 2)%></div>
          </div>
      </div>

      <div class="stat">
        <div class="stat-title">設備・アメニティ</div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <div class="stat-value"><%= number_with_precision(@hotel_rating["equipmentAverage"], precision: 2)%></div>
          </div>
      </div>

      <div class="stat">
        <div class="stat-title">風呂</div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <div class="stat-value"><%= number_with_precision(@hotel_rating["bathAverage"], precision: 2)%></div>
          </div>
      </div>

      <div class="stat">
        <div class="stat-title">食事</div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <div class="stat-value"><%= number_with_precision(@hotel_rating["mealAverage"], precision: 2)%></div>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- 詳細エリア-->
<section>
  <div class="container px-5 py-24 mx-auto text-gray-600 body-font relative">
    <h2>住所</h2>

    <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap lg:w-4/5">
      <div class="bg-white relative py-6 rounded shadow-md lg:w-1/2">
        <div class="lg:w-full px-6">
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">ADDRESS</h2>
          <p>〒<%= @hotel_info["postalCode"]%><p>
          <p class="mt-1"><%= "#{@hotel_info["address1"]+ " " +@hotel_info["address2"]}"%></p>
          
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">ACCESS</h2>
          <p><%= @hotel_info["access"]%><p>

          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">PHONE</h2>
          <p class="leading-relaxed"><%= @hotel_info["telephoneNo"]%></p>

          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">駐車場</h2>
          <a class="leading-relaxed"><%= @hotel_info["parkingInformation"]%></a>
        </div>
      </div>
      <div id="map" class="lg:w-2/3 md:w-1/2 bg-gray-600 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
      </div>
    </div>
</section>
<!-- 詳細エリア-->
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= ENV['GOOGLE_MAPS_API'] %>",
    v: "weekly",
  });
</script>