<div class="nested-fields border p-4 mb-4 artboard artboard-horizontal phone-1">
  <h2 class="text-xl">行程入力</h2>

  <div class="flex justify-between" data-controller="place-search">
    <%= f.datetime_field :date, class:"input input-bordered w-6/12 input-sm max-w-xs mr-2", id:"itinerary_date"%>
    <%= f.text_field :place, placeholder:"スポット名(例:東京駅)",class:"input input-bordered w-6/12 input-sm max-w-xs block",id:"itinerary_place",
    "data-action"=>"input->place-search#search", "data-place-search-target"=>"place" %>
    <%= f.text_field :lat, "data-place-search-target"=>"lat", class:"hidden" %>
    <%= f.text_field :lng, "data-place-search-target"=>"lng", class:"hidden" %>

  </div>

  <%= f.text_area :memo, placeholder:"メモ(例:乗り換え5分)",class:"textarea textarea-bordered w-full mt-4",id:"itinerary_memo" %>

  <h3>移動手段</h3>
  <div class="flex">
    <%= f.collection_radio_buttons(:transportation_id, Transportation.all, :id, :name) do |b| %>
      <% transportation = Transportation.find(b.value) %>
      <%= b.radio_button(class:"hidden") %>
      <%= b.label do %>
      <div data-controller="add-button">
        <%= image_tag transportation.image, 
        class:"icon w-10 m-2 p-1 rounded border-2 border-gray-300 itinerary_transportation_#{transportation.id}", 
        "data-action"=>"click->add-button#click"
        %>
      </div>
      <% end %>
    <% end %>
  </div>

  <div  class="text-right" >
    <%= link_to_remove_association '削除', f, class:"btn btn-xs"%>
  </div>

</div>