<div class="lg:flex">
    <div class="w-full h-64 lg:w-1/2 lg:h-auto">
        <div class="w-full h-full bg-cover bg-center" style="background-image: url(<%= asset_path 'first_view.png' %>)">
            <div class="w-full h-full bg-black opacity-20"></div>
        </div>
    </div>

    <div class="flex items-center justify-center w-full px-6 py-8 lg:h-[36rem] lg:w-1/2">
        <div class="max-w-xl">
            <h2 class="text-3xl font-semibold text-gray-800 lg:text-4xl">愛犬といつも<span class="text-yellow-500">一緒に</span></h2>

            <p class="mt-4 text-sm text-gray-500 dark:text-gray-400 lg:text-base">Pawfect Tripではわんちゃん同伴での旅行日程を簡単に立てることができます。<br>ご自身の計画を保存しておくことはもちろん、他のユーザーの日程も参考にすることが可能です。</p>

            <div class="flex flex-col mt-6 space-y-3 lg:space-y-0 lg:flex-row">
                <%= link_to '新規登録', new_user_registration_path, class:"block px-5 py-2 text-sm font-medium tracking-wider text-center text-white transition-colors duration-300 transform bg-gray-900 rounded-md hover:bg-gray-700" %>

                <%= link_to '使い方', "#", class:"block px-5 py-2 text-sm font-medium tracking-wider text-center text-gray-700 transition-colors duration-300 transform bg-gray-200 rounded-md lg:mx-4 hover:bg-gray-300" %>
            </div>
        </div>
    </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">注目の旅行日程</h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
        新しい旅行日程が更新されています。気になる日程はお気に入り登録しておきましょう！
      </p>
    </div>

    <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8">
      <% @plans.each do |plan| %>
        <div>
          <%= link_to plan_path(plan), data: {turbo:false},class: "group relative flex h-80 flex-col overflow-hidden rounded-lg bg-gray-100 shadow-lg" do %>
            <%= image_tag(plan.cover_image, loading: "lazy", alt: "Photo by Minh Pham", class: "absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110") %>
            <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 to-transparent md:via-transparent"></div>
          <% end %>
          <div class="relative mt-auto p-4">
            <span class="block text-sm flex justify-between">
              <div class="flex">
                <span class="badge badge-primary text-gray-100"><%= Prefecture.find(plan.departure_id).name %></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                  <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  <path fill-rule="evenodd" d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                </svg>
                <span class="badge badge-accent text-gray-100"><%= Prefecture.find(plan.destination_id).name%></span>
              </div>
              <div class="card-actions justify-end items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-red-500">
                  <path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z" />
                </svg>
                <span><%= plan.plan_likes.count %></span>
              </div>
            </span>
            <h2 class="mb-2 text-xl font-semibold transition duration-100"><%= plan.title %></h2>

            <div class="card-action min-h-12">
              <% if plan.tags.present?%>
                <% plan.tags.each do |tag| %>
                  <span class="badge badge-outline"><%= "##{tag.tag_name}" %></span> 
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="join w-full justify-center mt-16">
    <%= paginate @plans %>
  </div>
</div>