
<h1 class="text-2xl text-center">旅行日程作成</h1>
<div class="flex justify-center items-center">
  <%= form_with(model:@plan, local:true, class:"artboard artboard-horizontal phone-1") do |f| %>
    <%= render "devise/shared/error_messages", resource: f.object %>

      <div class="form-control w-full mb-2">
        <label class="label">
          <span class="label-text font-semibold text-base">タイトル</span>
          <span class="label-text-alt bg-red-400 p-1 rounded-lg text-white">必須</span>
        </label>
        <%= f.text_field :title, autofocus: true, placeholder:"例:京都旅行",class:"input input-bordered w-full"%>
      </div>

      <div class="trip-date flex">
        <div class="form-control w-6/12 max-w-xs mb-2">
          <label class="label">
            <span class="label-text font-semibold text-base">出発日</span>
            <span class="label-text-alt bg-red-400 p-1 rounded-lg text-white">必須</span>
          </label>
          <%= f.date_field :departure_date, autofocus: true,class:"input input-bordered w-full max-w-xs"%>
        </div>
        <div class="form-control w-6/12 max-w-xs mb-2">
          <label class="label">
            <span class="label-text font-semibold text-base">帰着日</span>
            <span class="label-text-alt bg-red-400 p-1 rounded-lg text-white">必須</span>
          </label>
          <%= f.date_field :return_date, autofocus: true,class:"input input-bordered w-full max-w-xs"%>
        </div>
      </div>

      <div class="trip-area flex">
        <div class="form-control w-full max-w-xs mb-2">
          <label class="label">
            <span class="label-text font-semibold text-base">出発地</span>
            <span class="label-text-alt bg-red-400 p-1 rounded-lg text-white">必須</span>
          </label>
          <%= f.collection_select(:departure_id, Prefecture.all, :id, :name,{prompt: ""},{class:"input input-bordered w-full max-w-xs"})%>
        </div>

        <div class="form-control w-full max-w-xs mb-2">
          <label class="label">
            <span class="label-text font-semibold text-base">目的地</span>
            <span class="label-text-alt bg-red-400 p-1 rounded-lg text-white">必須</span>
          </label>
          <%= f.collection_select(:destination_id, Prefecture.all, :id, :name,{prompt: ""}, {class:"input input-bordered w-full max-w-xs"}) %>
        </div>
      </div>

      <div class="form-control w-full mb-2">
        <label class="label">
          <span class="label-text font-semibold text-base">同伴者</span>
          <span class="label-text-alt bg-red-400 p-1 rounded-lg text-white">必須</span>
        </label>
        <%= f.collection_select(:companion_id, Companion.all, :id, :name,{prompt: ""}, {class:"input input-bordered w-full"}) %>
      </div>

      <div class="w-full mb-2">
        <label class="label cursor-pointer">
          <span class="label-text font-semibold text-base">同行わんこ</span>
          <span class="label-text-alt bg-red-400 p-1 rounded-lg text-white">必須</span>
        </label>
        <%= f.collection_radio_buttons(:dog_id, current_user.pets.order(:name), :id, :name, { checked: nil, include_hidden: false }) %>
      </div>

      <div class="form-control w-full mb-2">
        <label class="label">
          <span class="label-text font-semibold text-base">タグ</span>
        </label>
        <%= f.text_field :tag_names, autofocus: true, placeholder:"例:グランピング",class:"input input-bordered w-full"%>
      </div>
      
      <div id="add_fields_area"></div>

      <div class="text-right">
        <div class="btn btn-warning btn-sm">
          <%= link_to_add_association '＋行程追加', f,:itineraries,
            data: {
              association_insertion_node: "#add_fields_area",
              association_insertioin_method: "before"
            }
          %>
        </div>
      </div>

      <%= f.fields_for :itineraries do | itinerary | %>
        <%= render partial: "plans/itinerary_fields", locals: {f: itinerary} %>
      <% end %>

      

      <div class="actions mt-4 text-center">
        <%= f.submit "保存", class:"btn btn-success" %>
      </div>
  <% end %>
</div>