<h1>旅行日程作成</h1>
<%= form_with model:@plan, local:true do |f| %>
  <%= render "devise/shared/error_messages", resource: f.object %>

    <div class="form-control w-full max-w-xs mb-4">
      <label class="label">
        <span class="label-text">タイトル</span>
        <span class="label-text-alt">必須</span>
      </label>
      <%= f.text_field :title, autofocus: true, placeholder:"京都旅行",class:"input input-bordered w-full max-w-xs"%>
    </div>

    <div class="form-control w-full max-w-xs mb-4">
      <label class="label">
        <span class="label-text">出発日</span>
        <span class="label-text-alt">必須</span>
      </label>
      <%= f.date_field :departure_date, autofocus: true,class:"input input-bordered w-full max-w-xs"%>
    </div>

    <div class="form-control w-full max-w-xs mb-4">
      <label class="label">
        <span class="label-text">帰着日</span>
        <span class="label-text-alt">必須</span>
      </label>
      <%= f.date_field :return_date, autofocus: true,class:"input input-bordered w-full max-w-xs"%>
    </div>

    <div class="form-control w-full max-w-xs mb-4">
      <label class="label">
        <span class="label-text">出発地</span>
        <span class="label-text-alt">必須</span>
      </label>
      <%= f.collection_select(:departure_id, Prefecture.all, :id, :name,{prompt: ""},{class:"input input-bordered w-full max-w-xs"})%>
    </div>

    <div class="form-control w-full max-w-xs mb-4">
      <label class="label">
        <span class="label-text">目的地</span>
        <span class="label-text-alt">必須</span>
      </label>
      <%= f.collection_select(:destination_id, Prefecture.all, :id, :name,{prompt: ""}, {class:"input input-bordered w-full max-w-xs"}) %>
    </div>

    <div class="form-control w-full max-w-xs mb-4">
      <label class="label">
        <span class="label-text">同伴者</span>
        <span class="label-text-alt">必須</span>
      </label>
      <%= f.collection_select(:companion_id, Companion.all, :id, :name,{prompt: ""}, {class:"input input-bordered w-full max-w-xs"}) %>
    </div>

    <div class="form-control w-full max-w-xs mb-4">
      <label class="label">
        <span class="label-text">同行わんこ</span>
        <span class="label-text-alt">必須</span>
      </label>
      <%= f.collection_select(:dog_id, current_user.pets.order(:name), :id, :name, {prompt: ""}, {class:"input input-bordered w-full max-w-xs"}) %>
    </div>

    <%= link_to_add_association '追加', f,:itineraries,
      data: {
        association_insertion_node: "#add_fields_area",
        association_insertioin_method: "before"
      }
    %>

    <%= f.fields_for :itineraries do | itinerary | %>
      <%= render partial: "plans/itinerary_fields", locals: {f: itinerary} %>
    <% end %>

    <div id="add_fields_area"></div>

    <div class="actions mt-4">
      <%= f.submit "save", class:"btn btn-accent" %>
    </div>
<% end %>