
<h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">日程詳細</h2>

<!-- top -->
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex justify-around flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"><%= @plan.title%></h1>
        <div class="flex mb-4">
          <a class="flex-grow text-blue-500 border-b-2 border-blue-500 py-2 text-lg px-1">日程詳細</a>
        </div>

        <div class="flex border-gray-200 py-2">
          <span class="text-gray-500">旅行日程</span>
          <span class="ml-auto text-gray-900"><%= l @plan.departure_date, format: :short %>~<%= l @plan.return_date, format: :short%></span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">出発地</span>
          <span class="ml-auto text-gray-900"><%= Prefecture.find(@plan.departure_id).name %></span>
        </div>
        <div class="flex border-t border-b border-gray-200 py-2">
          <span class="text-gray-500">目的地</span>
          <span class="ml-auto text-gray-900"><%= Prefecture.find(@plan.destination_id).name %></span>
        </div>
        <div class="flex border-t border-b border-gray-200 py-2">
          <span class="text-gray-500">同伴者</span>
          <span class="ml-auto text-gray-900"><%= @plan.companion.name %></span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">同伴わんこ</span>
          <span class="ml-auto text-gray-900"><%= Pet.find_by(user_id: @plan.user.id).name %></span>
        </div>


        <div class="flex justify-between">
          <span class="title-font font-medium text-2xl text-blue-500 flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10">
                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
              </svg>
            <%= link_to @plan.user.nickname, "#" %>
          </span>

          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="flex flex-col justify-around">
        <%= image_tag @plan.cover_image, class:"lg:w-full lg:h-auto h-64 object-cover object-center rounded"%>
        <div class="flex justify-center">
          <% if current_user == @plan.user%>
            <button class="btn btn-sm btn-info m-2 flex text-white border-0 py-2 px-4 focus:outline-none hover:bg-blue-500 rounded">編集</button>
            <button class="btn btn-sm btn-info m-2 flex text-white border-0 py-2 px-4 focus:outline-none hover:bg-blue-500 rounded">削除</button>
          <% end %>
        </div>
      </div>
    </div>
  

    <!-- 日程のコンテンツ -->
    <% if @plan.itineraries.present? %>
      <div class="flex justify-center items-center">
        <div class="w-1/2 px-5 py-24 mx-auto">
          <div data-controller="tab" data-tab-default-tab-value="<%= @itineraries.keys.min if @itineraries.present? %>">
            <!-- タブ名-->
            <ul class="tab-list tabs tabs-boxed">
              <% @unique_date.each do |date| %>
                <li class="tab" data-tab-target="tab" data-action="click->tab#click" id="<%= date[0]%>"><%= date[0]  %></li>
              <% end %>
            </ul>
            <!-- タブ名-->

            <!-- タブのコンテンツ-->
            <% @itineraries.each do |date, itineraries| %>
              <ul data-tab-target="card" id="<%= date %>">
                <% itineraries.each do |itinerary| %>
                  <li class="mt-4">
                    <div class="p-4 mb-4 border border-solid border-gray-200 rounded-xl">
                      <%= l itinerary.date, format: :only_time %>
                      <%= itinerary.place %>
                      <p><%= itinerary.memo %></p>
                    </div>
                    <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75" />
                    </svg>
                      <%= image_tag Transportation.find(itinerary.transportation_id).image, class:"w-8 ml-4"%>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <!-- タブのコンテンツ-->
          </div>
        </div>
        <div id="map" class="w-96 h-96">
        </div>
      </div>
    <% end %>
  </div>
</section>


<script src="https://maps.googleapis.com/maps/api/js?key=<%="#{ENV['GOOGLE_MAPS_API']}"%>&libraries=places" async defer></script>