
<h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">日程詳細</h2>

<!-- top -->
<section class="text-gray-600 body-font overflow-hidden">
  <div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
      <div class="relative">
        <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
          <%= image_tag @plan.cover_image, loading:"lazy", alt:"cover_image", class:"h-full w-full object-cover object-center" %>
        </div>
        <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4 absolute top-2 right-2">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
          </svg>
        </button>
      </div>

      <div class="md:pt-8">
        <div class="flex items-center">
          <p class="text-center font-bold text-blue-500 md:text-left mr-4"><%= "#{@plan.user.nickname}'s trip plan" %></p>
          <div class="flex justify-center">
            <% if current_user == @plan.user%>
              <%= link_to(edit_plan_path, class:"rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-2 hover:bg-blue-500 hover:text-gray-100") do%>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>
              <% end %>
              <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-2 hover:bg-blue-500 hover:text-gray-100" onclick="my_modal_1.showModal()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />   
                </svg>
              </button>
                <dialog id="my_modal_1" class="modal">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">削除確認</h3>
                  <p class="py-4">本当に日程を削除しますか？</p>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">いいえ</button>
                    </form>
                    <%= link_to(plan_path, data: {turbo_method: :delete}) do%>
                      <button class="btn btn-error">はい</button>
                    <% end %>
                  </div>
                </div>
              </dialog>
            <% end %>
          </div>
        </div>
        <h1 class="mb-4 text-center text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6 md:text-left"><%= @plan.title%></h1>

        <div class="mb-6 text-gray-500 sm:text-lg md:mb-8">
          <div class="flex mb-4">
            <a class="flex-grow text-blue-500 border-b-2 border-blue-500 py-2 text-lg px-1">日程詳細</a>
          </div>
          <div class="flex border-gray-200 py-2">
            <span class="text-gray-500">旅行日程</span>
            <span class="ml-auto text-gray-900"><%= l @plan.departure_date, format: :short %>~<%= l @plan.return_date, format: :short%></span>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">出発地</span>
            <span class="ml-auto text-gray-900"><%= Prefecture.find(@plan.departure_id).name %></span>
          </div>
          <div class="flex border-t border-b border-gray-200 py-2">
            <span class="text-gray-500">目的地</span>
            <span class="ml-auto text-gray-900"><%= Prefecture.find(@plan.destination_id).name %></span>
          </div>
          <div class="flex border-t border-b border-gray-200 py-2">
            <span class="text-gray-500">同伴者</span>
            <span class="ml-auto text-gray-900"><%= @plan.companion.name %></span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-200 py-2">
            <span class="text-gray-500">同伴わんこ</span>
            <span class="ml-auto text-gray-900"><%= Pet.find_by(user_id: @plan.user.id).name %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container px-5 py-24 mx-auto">

    <!-- 日程のコンテンツ -->
    <% if @plan.itineraries.present? %>
      <div class="flex justify-center items-center">
        <div class="w-1/2 px-5 py-24 mx-auto">
          <div data-controller="tab" data-tab-default-tab-value="<%= @itineraries.keys.min if @itineraries.present? %>">
            <!-- タブ名-->
            <ul class="tab-list tabs tabs-boxed">
              <% @unique_date.each do |date| %>
                <li class="tab" data-tab-target="tab" data-action="click->tab#click" id="<%= date[0]%>"><%= date[0]  %></li>
              <% end %>
            </ul>
            <!-- タブ名-->

            <% total_index = 0%>
            <!-- タブのコンテンツ-->
            <% @itineraries.each do |date, itineraries| %>
              <ul data-tab-target="card" id="<%= date %>">
                <% itineraries.each do |itinerary| %>
                <% total_index += 1 %>
                  <li class="mt-4">
                    <div class="p-4 mb-4 w-full border border-solid border-gray-200 rounded-xl indicator">
                      <span class="indicator-item indicator-start badge badge-primary"><%= total_index %></span>
                      <div class="flex flex-col">
                        <%= l itinerary.date, format: :only_time %>
                        <%= itinerary.place %>
                        <p><%= itinerary.memo %></p>
                      </div>
                    </div>
                    <div class="flex items-center">
                    <!--その日の最後の予定の場合は移動アイコンを表示させない-->
                    <% unless itinerary == itineraries.last %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75" />
                      </svg>
                        <%= image_tag Transportation.find(itinerary.transportation_id).image, class:"w-8 ml-4"%>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <!-- タブのコンテンツ-->
          </div>
        </div>
        <div id="map" class="w-96 h-96">
        </div>
      </div>
    <% end %>
  </div>
</section>