<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title>PawfectTrip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%="#{ENV['GOOGLE_MAPS_API']}"%>&libraries=places" async defer></script>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/@oddcamp/cocoon-vanilla-js@1.1.3/index.min.js' %>
    <%= include_gon %>
  </head>

  <body class="h-screen">
    <%= render partial: "layouts/header" %>
    <% flash.each do |message_type, message| %>
      <div class="bg-cyan-500 text-center py-2 lg:px-4">
        <div class="p-2 bg-cyan-600 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
          <span class="flex rounded-full uppercase px-2 py-1 text-xs font-bold mr-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          </span>
          <span class="font-semibold mr-2 text-left flex-auto"><%= message %></span>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
