<!DOCTYPE html>
<html>
  <head>
    <title>PawfectTrip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <html data-theme="cupcake"></html>
  </head>

  <body>
    <header class="flex navbar bg-base-200">
      <div class="flex-1">
        <div>ロゴ</div>
      </div>

      <div class="flex-none gap-2">
        <div class="form-control">
          <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
        </div>
      </div>

      <div class="dropdown dropdown-end">
        <% if user_signed_in? %>
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <%= image_tag "dog-icon.png" %>
            </div>
          </label>
          <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
            <li><%= link_to current_user.nickname %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete} %></li>
          </ul> 
        <% else %>
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <%= image_tag "dog-icon.png" %>
            </div>
          </label>
         <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to 'ゲストログイン', users_guest_sign_in_path, data: { turbo_method: :post} %></li>
          </ul> 
        <% end %>  
    </header>

    <%= yield %>

  </body>
</html>
